<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Setup Columns</h4>
</div>
<div class="modal-body">
    <div class="modal-body">
        <ol id="column-list" ui-sortable ng-model="columns">
            <li ng-repeat="column in columns" class="list-input">
                <input type="text" ng-model="column.name">
                <i class="glyphicon glyphicon-move"></i>
                <i ng-click="remove($index)" class="delete glyphicon glyphicon-trash"></i>
            </li>
        </ol>

        <button class="btn btn-default" ng-click="add()">More</button>
        <button class="btn btn-primary pull-right" ng-click="save()">Done</button>
    </div>
</div>