#login-button {
    margin-top: 7px;
}

.navbar-nav IMG.avatar {
    max-height: 40px;
    margin-top: 3px;
}

.capitalize {
    text-transform:capitalize;
}

.pointer {
    cursor: pointer;
}

.block {
    display: block;
}

#logo {
    width: 40%;
}

#repo-menu {
    cursor: pointer;
    padding-top: 15px;
    margin-bottom: -100px;
}

#repo-menu .repo-name {
    position: fixed;
}

#repo-menu UL.dropdown-menu {
    margin-top: 20px;
}

#user-menu {
    width: 40%;
}

#main-alert {
    top: 0;
    position: absolute;
    z-index: 99999;
    left: 50%;
    right: 50%;
    margin-left: -200px;
    margin-right: -200px;
    text-align: center;
}

#column-list .list-input {
    padding-bottom: 15px;
}

#column-list .list-input I.glyphicon-move {
    padding-left: 5px;
    cursor: move;
}

#column-list I.delete {
    padding-left: 10px;
    cursor: pointer;
}

#issues .column-name {
    text-align: center;
}

.tab-pane {
    padding-top: 10px;
}