<div id="columns-modal" class="modal fade" data-show="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Setup Columns</h4>
            </div>
            <div class="modal-body">
                <ol id="column-list">
                    {{#each column in view.columns}}
                        <li class="list-input">
                            <input type="text" {{bind-attr value="column"}}>
                            <i class="glyphicon glyphicon-move"></i>
                            <i class="delete glyphicon glyphicon-trash"></i>
                        </li>
                    {{/each}}
                </ol>

                <button class="btn btn-default" {{action add_column target="view"}}>More</button>
                <button class="btn btn-primary pull-right" {{action save_columns target="view"}}>Done</button>
            </div>
        </div>
    </div>
</div>