<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">nimble</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <!--This is probably not the best way to center this element.  TODO Fix this.-->
            <a {{action open_modal "repo_chooser"}} id="repo-chooser-center"
                    class="text-center pointer block" data-container="body"
                    data-toggle="popover" data-placement="bottom"
                    data-html="true"
                    data-content="<button id='close-repo-chooser-popover' class='close'>x</button><div>Click here at any time to select a new repo.</div>">

                {{controllers.repo_chooser.current_name}}

            </a>

            <ul class="nav navbar-nav pull-right">
                {{render user}}
            </ul>
        </div>
    </div>
</nav>