<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">nimble</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <div id="repo-chooser-center" class="text-center">
                TODO repo name/selector
            </div>

            <ul class="nav navbar-nav pull-right">
                {{render user}}
            </ul>
        </div>
    </div>
</nav>