<section id="issues">
    <table class="table table-striped">
        <tr>
            {{#each column_names}}
                <th class="column-name">{{this}}</th>
            {{/each}}
        </tr>
    </table>
</section>
