<div id="reposModal" class="reveal-modal">
    <h2>Repositories</h2>
    <div class="section-container auto" data-section>
        {{#each repos}}
            <section>
                <p class="title" data-section-title>
                    <a class="capitalize">{{type}}</a>
                </p>
                <div class="content" data-section-content>
                    <ul class="no-bullet">
                        {{#each entries}}
                            <li>
                                {{#link-to "repo" id}}
                                    <span {{action selected_repo id target="view"}}>
                                        {{full_name}}
                                    </span>
                                {{/link-to}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </section>
        {{/each}}
    </div>
</div>