{{#if login_attempted}}
    {{#if logged_in}}
        <ul class="dropdown">
            <img class="avatar dropdown-toggle" id="user_menu" data-toggle="dropdown" {{bind-attr src=avatar_url}}>
            <span class="caret"></span>
            <ul class="dropdown-menu" aria-labelledby="user_menu">
                <li id="repo-chooser-user-menu">{{#link-to 'repos'}}Change Repo{{/link-to}}</li>
                <li><button {{action "logout"}} class="btn btn-link">Logout</button></li>
            </ul>
        </ul>
    {{else}}
        <button id="login-button" class="btn btn-primary" {{action "login"}}>Login</button>
    {{/if}}
{{/if}}
