{{#if login_attempted}}
    {{#if logged_in}}
        <a href="#">
            <img class="avatar" {{bind-attr src=avatar_url}}>
        </a>
        <ul class="dropdown">
            <li>{{#link-to 'repos'}}Change Repo{{/link-to}}</li>
            <li><a {{action "logout"}}>Logout</a></li>
        </ul>
    {{else}}
        <button class="button" {{action "login"}}>Login</button>
    {{/if}}
{{/if}}
