<div class="dropdown-toggle" data-toggle="dropdown">
<span class="repo-name">
    {{name}}
    <span class="caret"></span>
</span>
<span data-container="body"
      data-toggle="popover" data-placement="bottom"
      data-html="true"
      data-content="<button id='close-repo-chooser-popover' class='close'>x</button><div>Click here at any time to select a new repo.</div>">
</span>
</div>
<ul class="dropdown-menu">
    <li ng-controller="repoChooserController">
        <button ng-click="open()" class="btn btn-link">
            Change Repo
        </button>
    </li>
    <li>
        TODO column menu
        <!--<button {{action open_modal "column_chooser"}}-->
        <!--class="btn btn-link">-->
        <!--Edit Columns-->
        <!--</button>-->
    </li>
</ul>
