.top-bar-section .button {
    margin-right: 10px;
}

.navbar-nav IMG.avatar {
    max-height: 40px;
    margin-top: 3px;
}

.capitalize {
    text-transform:capitalize;
}

.pointer {
    cursor: pointer;
}

.block {
    display: block;
}

#repo-chooser-center {
    padding-top: 15px;
    margin-bottom: -100px;
}