.top-bar-section .button {
    margin-right: 10px;
}

.navbar-nav IMG.avatar {
    max-height: 40px;
    margin-top: 3px;
}

.capitalize {
    text-transform:capitalize;
}

.pointer {
    cursor: pointer;
}

.block {
    display: block;
}

#repo-chooser-center {
    padding-top: 15px;
    margin-bottom: -100px;
}

#main-alert {
    top: 0;
    position: absolute;
    z-index: 99999;
    left: 50%;
    right: 50%;
    margin-left: -200px;
    margin-right: -200px;
    text-align: center;
}

#column-list .list-input {
    padding-bottom: 15px;
}

#column-list .list-input I.glyphicon-move {
    padding-left: 5px;
    cursor: move;
}