<header class="nav navbar-default">
    <div class="container-fluid">
        <div id="logo" class="navbar-header pull-left">
            <a class="navbar-brand" href="/">nimble</a>
        </div>

        <div id="user-menu" class="pull-right nav navbar-nav">
            <ul ng-controller="userController" class="pull-right">
                <nimble-user></nimble-user>
            </ul>
        </div>

        <ul id="repo-menu"
            ng-controller="repoMenuController"
            class="dropdown text-center nav navbar-nav">

            <ng-include ng-if="isLoggedIn() && getName()" src="'src/repo/repo-menu.html'"></ng-include>
            <ng-include ng-if="isLoggedIn() && !getName()" src="'src/repo/select-repo.html'"></ng-include>

        </ul>
    </div>
</header>
