<div cg-busy="{tracker:'getrepos'}" class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Choose a Repo</h4>
</div>
<div class="modal-body">
    <tabset justified="true">
        <tab ng-repeat="reposEntry in typedRepos" heading="{{reposEntry.type}}">
            <ul class="no-bullet">
                <li ng-repeat="repo in reposEntry.repos">
                    <a class="pointer" ng-click="ok(repo)">
                        {{repo.full_name}}
                    </a>
                </li>
            </ul>
        </tab>
    </tabset>
</div>